{% extends "padre.html" %}

{% block title %} Acerca de mi {% endblock %}

{% block content %}
<header style="background-color: #4a90e2; padding: 40px 20px; color: white; text-align: center;">
    <h1 style="margin: 0; font-size: 2.5em;">Acerca de mi</h1>
    <p style="margin: 10px 0 0;">Soy Fabián González y este blog es el resultado de mi proyecto final del curso de Python, desarrollado con Django.
Quise crear una herramienta sencilla y útil para quienes buscan llevar una vida más saludable. En esta web se pueden registrar, iniciar sesión y cargar recetas o pacientes, con opciones para editarlos, eliminarlos y ver todos sus detalles.
¡Gracias!</p>
  </header>
{% endblock %}