{%extends "padre.html"%}

{%block title%} Pacientes {%endblock%}

{%block content%}

    <h2>Buscar paciente</h2>
    <form method="GET" action="{% url 'buscar_pacientes' %}">
        <input type="text" name="nombre" placeholder="Ingrese el nombre del paciente" value="{{ nombre }}">
        <button type="submit">Buscar</button>
    </form>


<h2>Pacientes:</h2>
   <ul>
    {% for paciente in pacientes %}
        <li>{{paciente.nombre}}
            {{paciente.apellido}}
        </li>
        <a href="{% url 'detalle-paciente' paciente.pk %}">Ver detalles</a>
        <a href="{% url 'eliminar-paciente' paciente.pk %}">Eliminar</a>
        <a href="{% url 'editar-paciente' paciente.pk %}">Editar</a>
        <li>
    {% empty %}
        <li>No hay pacientes disponibles.</li>
    {% endfor %}
</ul>
<a href="{% url 'crear_paciente' %}">Agregar un nuevo paciente</a>
{%endblock%}